@import '../../../node_modules/react-datepicker/dist/react-datepicker-cssmodules.css';

:global .react-datepicker-wrapper {
    width: 100%;
}

:global .react-datepicker {
    background-color: #2B2438;
    border: none;
}

:global .react-datepicker__header {
    background-color: #201B29;
    border: none;
}

:global .react-datepicker__current-month {
    color: #EF2D56;
}

:global .react-datepicker__day-name {
    color: #8B75B7;
}

:global .react-datepicker__day {
    color: #FFF;
}

:global .react-datepicker__day--selected,
:global .react-datepicker__day--keyboard-selected {
    background-color: #EF2D56;
}

:global .react-datepicker__day:hover {
    background-color: #8B75B7;
}

:global .react-datepicker__day--selected:hover,
:global .react-datepicker__day--keyboard-selected:hover {
    background-color: #C62548;
}