.menuRight {
    position: fixed;
    right: 0;
    width: 25vw;
    height: 100%;
    background-color: #251F30;
    border-left: 1px solid #2B2438;
    padding: 25px;
    transition: transform 0.3s ease-out;
    z-index: 100;
}

.links {
    display: none;
    color: #574972;
}

.linksClose svg {
    cursor: pointer;
    display: none;
}

.linksList {
    margin-top: 15px;
}

.linksList ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.linksList span {
    margin-left: 3px;
}

.linksList ul li a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .3s all;
}

.linksList ul li a:hover {
    color: #FFF;
}


@media (max-width: 1050px) {
    .menuRight {
        width: 32vw;
    }

    .links {
        display: block;
    }
}

@media (max-width: 962px) {
    .menuRight {
        width: 35vw;
    }

    .linksClose svg {
        display: block;
    }
    
    .open {
        transform: translateX(0);
    }

    .close {
        transform: translateX(100%);
    }
}

@media (max-width: 880px) {
    .menuRight {
        width: 45vw;
    }
}

@media (max-width: 680px) {
    .menuRight {
        width: 55vw;
    }
}

@media (max-width: 580px) {
    .menuRight {
        width: 85vw;
    }
}