.banner {
    width: 70vw;
    margin-top: -20px;
    margin-left: -35px;
    padding: 30px 35px 10px 35px; 
    background-color: #1D1926;
    display: flex;
    justify-content: space-between;
}

.banner img {
    width: 18%;
    height: 112px;
    margin-right: 15px;
}

.info {
    width: 77%;
}

.info p {
    display: flex;
    font-size: .8em;
}

.ticketButton {
    width: 20%;
}

.ticketButton a {
    display: flex;
    color: #EF2D56;
    text-decoration: none;
    transition: .3s all;
}

.ticketButton a:hover {
    color: #AC91E2;
}

@media (max-width: 962px) {
    .banner {
        width: 98vw;
    }
}

@media (max-width: 726px) {
    .banner {
        width: 97vw;
    }

    .banner img {
        width: 22%;
    }
}

@media (max-width: 680px) {
    .banner img {
        display: none;
    }
}