.banner {
    width: 110%;
    margin-top: -20px;
    margin-left: -35px;
    padding: 30px 35px 10px 35px; 
    background-color: #1D1926;
    display: flex;
    justify-content: space-between;
}

.banner img {
    width: 18%;
    height: 112px;
    margin-right: 15px;
}

.info {
    width: 80%;
}

.info p {
    display: flex;
    font-size: .8em;
}

.ticketButton {
    width: 17%;
}

.ticketButton a {
    display: flex;
    color: #EF2D56;
    text-decoration: none;
    transition: .3s all;
}

.ticketButton a:hover {
    color: #AC91E2;
}